/* app.css */
/* src/index.css or src/App.css */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
 

  }
  

  .stack {
    position: absolute;
    width: 253px;
    height: 68px;
    left: 60px;
    margin-bottom: 20px;
    Top:0px;
  }
  .container {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

/* login css */


.container-fluid {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.left-side {
  background-color: #F6F8FB;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-sec {
  background-image: url('../images/background.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image {
  width: 100%;
  max-width: 80%;
  margin-top: 10px;
}

.login-form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
  .right-sec {
      background-size: contain;
      background-position: top;
  }
  .login-form-container {
      width: 100%;
      padding: 20px;
  }
}

@media (max-width: 576px) {
  .left-side, .right-sec {
      height: auto;
      padding: 20px;
  }

  .login-image {
      max-width: 70%;
  }

  .login-form-container {
      padding: 15px;
  }
}

/* forgotpassword */

/* Ensures the image covers the full section */
.right-sec {
    background-image: url('../src/assets/backgroundlogin.jpg'); /* Correct path to your image */
   background-size: cover;
    height: 100vh; /* Full viewport height */
}

/* Adjust the ForgotPassword image to ensure proper scaling */
.ForgotPassword-image {
    position: relative;
    width: 100%; /* Maintains the aspect ratio */
    margin-top: 10px; /* Adds space above the image */
}

.left-side {
    background-color: #F6F8FB;
    height: 100vh; /* Full viewport height for the left section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .right-sec {
        background-size: contain; /* Ensure image scales down but stays visible */
        background-position: top; /* Adjust the position for smaller devices */
    }

    .ForgotPassword-image {
        max-height: 15vh; /* Smaller height for mobile devices */
        width: auto; /* Ensure the image doesn’t stretch */
       
    }

    .forgot-password-container {
        width: 100%;
        padding: 20px;
        border: none;
    }
}

.container-fluid {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.left-side {
    background-color: #F6F8FB;
    height: 100vh;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
}

.forgot-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

button {
    margin-top: 20px;
}



/* enterotp css */


  
.right-sec {
    background-image: url('../src/assets/backgroundlogin.jpg'); /* Correct path to your image */
   background-size: cover;
    height: 100vh; /* Full viewport height */
}

.EnterOtp-image {
    position: relative;
    width: 100%; /* Maintains the aspect ratio */
    margin-top: 10px; /* Adds space above the image */
}
.left-side {
    background-color: #F6F8FB;
    height: 100vh; /* Full viewport height for the left section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  
  

  @media (max-width: 768px) {
    .right-sec {
        background-size: contain; /* Ensure image scales down but stays visible */
        background-position: top; /* Adjust the position for smaller devices */
    }

    .EnterOtp-image {
        max-height: 15vh; /* Smaller height for mobile devices */
        width: auto; /* Ensure the image doesn’t stretch */
       
    }

    .EnterOtp-form-container {
        width: 100%;
        padding: 20px;
        border: none;
    }
}


.container-fluid {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.left-side {
    background-color: #F6F8FB;
    height: 100vh;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
}

.EnterOtp-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

button {
    margin-top: 20px;
}



/* resetpassword css */

/* ResetPassword.css */
body {
    background-color: #f5f5f5;
  }
  
  .container-fluid {
    padding: 0;
  }
  
  .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }
  
  .btn-outline-secondary {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .input-group button {
    border: none;
    background: none;
  }
  
  
  
    
  .right-sec {
      background-image: url('../src/assets/backgroundlogin.jpg'); /* Correct path to your image */
     background-size: cover;
      height: 100vh; /* Full viewport height */
  }
  
  .ResetPassword-image {
      position: relative;
      width: 100%; /* Maintains the aspect ratio */
      margin-top: 10px; /* Adds space above the image */
  }
  .left-side {
      background-color: #F6F8FB;
      height: 100vh; /* Full viewport height for the left section */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
    
    
    
  
    @media (max-width: 768px) {
      .right-sec {
          background-size: contain; /* Ensure image scales down but stays visible */
          background-position: top; /* Adjust the position for smaller devices */
      }
  
      .ResetPassword-image {
          max-height: 15vh; /* Smaller height for mobile devices */
          width: auto; /* Ensure the image doesn’t stretch */
         
      }
  
      .ResetPassword-form-container {
          width: 100%;
          padding: 20px;
          border: none;
      }
  }
  
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .custom-table th {
    background-color: #f8f9fa;
    color: #555;
    padding: 15px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 2px solid #e6e6e6;
  }
  
  .custom-table th:first-child {
    border-top-left-radius: 8px;
  }
  
  .custom-table th:last-child {
    border-top-right-radius: 8px;
  }
  
  .custom-table td {
    padding: 10px 15px;
    color: #333;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
  }
  
  .custom-table td .badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    text-transform: capitalize;
  }
  
  .badge.occupied {
    background-color: #dff0d8;
    color: #3c763d;
  }
  
  .badge.vacate {
    background-color: #f9c2c2;
    color: #a94442;
  }
  
  .badge.tenant {
    background-color: #c9e2f7;
    color: #31708f;
  }
  
  .badge.owner {
    background-color: #d9edf7;
    color: #31708f;
  }
  
  /* .btn {
    font-size: 12px;
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  } */
  
  /* .edit-btn {
    background-color: #28a745;
    color: #fff;
  }
  
  .view-btn {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-warning {
    background-color: #ffc107;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
  }
   */

  
  /* Media Queries for smaller screens */
  @media (max-width: 768px) {
    .custom-table thead {
      display: none; /* Hide table headers */
    }
  
    .custom-table tbody tr {
      display: block;
      margin-bottom: 15px;
      border-bottom: 2px solid #ddd;
    }
  
    .custom-table tbody td {
      display: block;
      text-align: right;
      position: relative;
      padding-left: 50%;
    }
  
    .custom-table tbody td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
    }
  
    .custom-table tbody td:last-child {
      border-bottom: 0;
    }
  }
  .rmHead th{
    background-color:#eef1fd;
    color: #555;
    

  }
  .wing{
    color: rgba(86, 120, 233, 1);
    font-weight: 500;
  }


  



  .radio-input-field {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    margin-top: 10px;
    margin-right: 10px; /* Space between input fields */
    width: 200px; /* Adjust width to your liking */
  }
  
  .radio-input-field .form-check-input {
    margin-right: 5px;
  }
  
  .radio-input-field .form-check-label {
    font-size: 14px;
    margin-left: 5px; /* Ensure label isn't too close to the radio button */
  }
  
  .flex-container {
    display: flex;
    justify-content:space-evenly;
  }
  

  .square-modal .modal-dialog {
    width: 400px; /* Adjust width */
    height: auto; /* Adjust height */
    max-width: none; /* Prevent default max-width */
  }
  
  .square-modal .modal-content {
    height: 100%; /* Ensure the content fills the height */
  }

  .Round-modal .modal-dialog {
    width: 400px; /* Adjust width */
    height: auto; /* Adjust height */
    max-width: none; /* Prevent default max-width */
  }
  
 
  .active {
    color: #202224;
    font-weight: bold;
  }


/* Sidebar transition for mobile */
.sidebar {
  transition: transform 0.3s ease-in-out; /* Smooth open/close effect */
  width: 300px; /* Sidebar width */
  z-index: 1049;
  position: fixed;
  top: 0;
  height: 100%;
}

  @media (max-width: 576px) {
    .sidebar {
      transform: translateX(-100%); /* Hide the sidebar by default on mobile */
      visibility: hidden !important;
    }

    .sidebar.show {
      transform: translateX(0); /* Show sidebar when toggled */
      visibility: visible;
    }
  }

  @media (min-width: 576px) {
    .sidebar {
      transform: none; /* Keep sidebar visible on larger screens */
      visibility: visible !important;
    }
  }


  .radio-group input[type="radio"] {
    appearance: none; /* Remove default styles */
    
    padding: 7px 7px;
    border: 2px solid #f09619; /* Orange border */
    border-radius: 50%; /* Make it round */
   
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  .radio-group input[type="radio"]:checked{
    background-color: rgb(255, 255, 255);
  }
  
  .radio-group input[type="radio"]:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    background: linear-gradient(90deg, #FE512E 0%, #F09619 100%);
    /* Inner orange dot when checked */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }



  .Border{
    border-radius: 20px !important;
  }

  .stickyHeader{
    margin-top: 109px;
  }


  .maintainance-income-btn {
   
    color: #333;
    background-color: #f9f9f9;
  }
  
  .maintainance-income-btn-active {
    
    background: linear-gradient(90deg, #FE512E 0%, #F09619 100%);
    
  }
  
  .maintainance-income-btn-withoutbg {
    color:  #FE512E;
    background-color: transparent;
    
  }
  

  .mainColor{
    color: #FE512E;
    
  }.mainColor2{
    background: linear-gradient(90deg, #FE512E 0%, #F09619 100%);
  }